ansible_user               : sh_ub
ansible_python_interpreter : /usr/bin/python3.13
home: /home/sh_ub
wildfly_dir: "{{home}}/wildfly-37.0.1.Final"
wildfly_zip: "{{wildfly_dir}}.zip"
log_file: "{{home}}/wildfly.log"