---
- name: deploy on gelios
  hosts: gelios
  gather_facts: false
  become: false

  vars:
    home: /home/studs/s468125
    wildfly_dir: "{{home}}/wildfly-37.0.1.Final"
    wildfly_zip: "{{wildfly_dir}}.zip"
    log_file: "{{home}}/wildfly.log"
  tasks:
    - name: download wildfly
      include_tasks: tasks/download_wildfly.yml

    - name: check if wildfly is running
      command: pgrep -f wildfly
      register: wildfly_status
      ignore_errors: yes
      changed_when: false

    - name: start fucking wildfly if not running
      shell: nohup {{ wildfly_dir }}/bin/standalone.sh -Djboss.http.port=23489 -Djboss.https.port=23488 -Djboss.management.http.port=23487 -Djboss.management.https.port=23486 -b 0.0.0.0 -bmanagement 0.0.0.0 -Djboss.thread.pool.max.size=25 >{{log_file}}  2>&1 &
      when: wildfly_status.rc != 0

    - name: copy project
      copy: src=../build/libs/WEB_Lab2.war dest=~/wildfly-37.0.1.Final/standalone/deployments/
      notify: restart fucking wildfly

  handlers:
    - name: restart fucking wildfly
      include_tasks: tasks/restart_service.yml