---
- name: deploy on virtual machines
  hosts: prod_servers
  remote_user: sh_ub

  vars:
    home: /home/sh_ub
    wildfly_dir: "{{home}}/wildfly-37.0.1.Final"
    wildfly_zip: "{{wildfly_dir}}.zip"
    log_file: "{{home}}/wildfly.log"

  tasks:
    - name: load java on ubuntu servers
      apt: name=openjdk-21-jdk state=present
      become: true
      when: ansible_os_family=="Debian"

    - name: export JAVA_HOME
      shell: export JAVA_HOME="/usr/lib/jvm/java-21-openjdk-amd64"

    - name: download wildfly
      include_tasks: tasks/download_wildfly.yml

    - name: copy project
      copy:
        src: "../build/libs/WEB_Lab2.war"
        dest: "{{wildfly_dir}}/standalone/deployments/"
      notify: restart fucking wildfly

  handlers:
    - name: restart fucking wildfly
      include_tasks: tasks/restart_service.yml