name: Software Composition Analysis with Snyk
run-name: run SCA with snyk
on: [push, pull_request]
jobs:
  call-build-in-local-repo:
    uses: sshubuntu/WEB_Lab2/.github/workflows/build.yml@main

  sca:
    needs: call-build-in-local-repo
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Snyk CLI
        run: npm install -g snyk

      - name: Run Snyk Test
        run: snyk test
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        continue-on-error: true

      - name: Run Snyk Monitor
        run: snyk monitor
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        continue-on-error: true